.flexbox-container {
    display: flex;
    margin: 15;
    flex-direction: col;
    background-repeat: space;
    background-position: center;
    background-repeat: center;
    background-image: url("../besttree.webp"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500; /* You must set a specified height */
    background-size: cover; /*Resize the background image to cover the entire container */
}